version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=https://belle-transfluvial-unrefractively.ngrok-free.dev
    volumes:
      - n8n_data:/home/node/.n8n
    restart: always

volumes:
  n8n_data: